.table{
    border: 1px solid black;
    height: 100px;
    padding:10px;
}

tr,th,td{
    border: 1px solid black;
    padding:10px;
    
}

th{
    background-color: aqua;
}
.container{
    display:flex;
    align-items: center;
    height:50vh;
    flex-direction: column;
    justify-content: center;
}